.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end; // 7- номер колонки
    padding: 3rem;
// сетка для расположения контента в поле (по  центру )
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem; // дистанция между ячейками

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

// сетка для контента
    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;

        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(3, min-content max-content);  // колонки с права на лево (горизонтально)
        }
   
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: min-content max-content;  // возвращаем положение как при огромных мониторах (вертикальное расссположение)
        }

    }

    &__img {
        width: 7rem;
        border-radius: 50%;
        display: block;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
    }
}